#extension {
  text-align: center;
  background: #C0D8E0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: grid;
  grid-template-columns: 300px;
}

#mainPage,
#settingsPage {
  grid-row: 1;
  grid-column: 1;
}

#mainPage {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  text-align: center;
  display: inline-block;
}

#mainHeader {
  color: #271622;
  font-size: 60%;
  grid-row: 1;
  grid-column: 1;
}

#mainDiv {
  grid-row: 2;
  grid-column: 1;
}

h1 {
  display: inline-block;
}

h2 {
  color: #271622;
}

span {
  margin: 0 0 0 0;
}

.btn {
  background-color: #C0D8E0;
  border: 1px solid #416165;
}

#settings {
  background-image: url("settings_google_icon.png");
  background-size: 30px 30px;
  background-position: center;
  margin: 0 0 0 0;
  width: 30px;
  height: 30px;
}

#settingsHeader {
  color: #271622;
}

#home {
  background-image: url("home_google_icon.png");
  background-size: 30px 30px;
  background-position: center;
  margin: 1 0;
  width: 30px;
  height: 30px;
}

input[type="number"] {
  width: 30px;
}

#startTimer,
#stopTimer {
  color: #ffff;
  border-radius: 10px;
  width: 100px;
  height: 30px;
}

#set {
  color: #ffff;
  background-color: #C0D8E0;
  border-radius: 10px;
  border: 1px solid #416165;
  width: 50px;
  height: 30px;
}
